@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Lato", sans-serif;
}


.header-topline {
    width: 100%;
    height: 30px;
    background-color: black;
    padding: 7px 0px;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14.5px;
    font-weight: 400;
}

.header-content {
    width: 100%;
    height: 113px;
    padding: 0px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    column-gap: 37px;
}

.list-item {
    /* color: #666666D9; ar moqmedebs feri*/
    font-size: 19px;
    line-height: 23px;
    font-weight: 400;
}

.active {
    color: black;
}

.buttons-wrapper {
    display: flex;
    column-gap: 12px;
}

.account-btn {
    background-color: #0A0A0A;
    color: #fff;
    border-radius: 4px;
    padding: 3px 12px;
    cursor: pointer;
}

.cart-btn {
    background-color: #3a3a3a;
    color: #fff;
    border-radius: 4px;
    padding: 3px 12px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    cursor: pointer;
}

.cart-btn span {
    font-size: 12px;
}

/* banner */
.banner-container {
    font-family: "Poppins", sans-serif;
    border: 2px solid red;
    width: 100%;
    height: 569px;
    background-image: url(/images/Banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.textonbanner {
    font-family: "Poppins", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.banner-h2 {
    font-size: 35px;
    font-weight: 500;
    line-height: 56px;
    color: #fff;
}

.banner-h1 {
    font-family: "Lato", sans-serif;
    font-size: 82px;
    font-weight: 900;
    line-height: 95px;
    width: 528px;
    font-family: "Lato", sans-serif;
    color: #fff;
}

.shop-btn {
    background-color: #fff;
    color: #000;
    height: 49px;
    width: 186px;
    border-radius: 134px;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
}

/* little section */

.info-section {
    display: flex;
    border: 5px solid red;
    margin: 42px auto 54px auto;
    width: 903px;
    justify-content: space-between;
    padding: 12px 28px;
}


.box {
    width: 191px;
    height: 101px;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 16px;
}

.box img {
    width: 50px;
    height: 53px;
    column-gap: 16px;
}

.box p {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin-top: 16px;
}

/* second banner */
.second-banner {
    font-family: "Poppins", sans-serif;
    border: 2px solid red;
    width: 100%;
    height: 1252px;
    background-image: url(/images/banner2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    column-gap: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}



.card-one {
    width: 620px;
    height: 676px;
    border-radius: 34px;
    padding: 48px 75px;
    border: 2px solid green;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-two {
    width: 620px;
    height: 679px;
    border-radius: 34px;
    padding: 48px 75px;
    margin-bottom: 20px;
    border: 2px solid blue;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-three {
    width: 1270px;
    height: 420px;
    border-radius: 34px;
    padding: 48px 75px;
    border: 2px solid red;
    background-color: #fff;
    display: flex;
    column-gap: 60px;
    align-items: center;
    justify-content: center;
}

.desc {
    width: 494px;
    height: 227px;
    display: flex;
    flex-direction: column;
    text-align: left;
    /* column-gap: 25px;  ar mushaobs*/

}

.desc h3 {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: black;
    background-color: #fff;
}

.desc p {
    font-family: "Lato", sans-serif;
    /* font-family: "Lato", sans-serif; заменить на попнис */
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: black;
}

.desc a {
    font-family: "Lato", sans-serif;
    background-color: #000;
    color: #FFFFFF;
    height: 38px;
    width: 161px;
    border-radius: 134px;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
}

.card-one h3 {
    width: 369px;
    height: 70px;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: black;
    background-color: #fff;

}

.card-one img {
    width: 470px;
    height: 300px;
    border-radius: 18px;
}

.card-one p {
    font-family: "Lato", sans-serif;
    /* font-family: "Lato", sans-serif; заменить на попнис */
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: black;
}

.card-one a {
    font-family: "Lato", sans-serif;
    background-color: #000;
    color: #FFFFFF;
    height: 38px;
    width: 161px;
    border-radius: 134px;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
}

.card-two h3 {
    width: 369px;
    height: 70px;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: black;
    background-color: #fff;

}

.card-two img {
    width: 470px;
    height: 300px;
    border-radius: 18px;
}

.card-two p {
    font-family: "Lato", sans-serif;
    /* font-family: "Lato", sans-serif; заменить на попнис */
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: black;
}

.card-two a {
    font-family: "Lato", sans-serif;
    background-color: #000;
    color: #FFFFFF;
    height: 38px;
    width: 161px;
    border-radius: 134px;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
}

.Featured-products {
    background-color: #fff(210, 192, 155);
    border: 2px solid blue;
    width: 100%;
    height: 720px;


}

.featured-div {
    width: 330px;
    height: 75px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* column-gap: 14px; ar mushaobs */
    margin: 0px auto 44px auto;
}

.Featured-list {
    width: 330px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    color: #DF6134;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.featured-header {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: black;
}

.big {
    width: 1270px;
    height: 459px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 42px auto 117px auto;
    column-gap: 46px;
}

.box1 {
    width: 283px;
    height: 459px;
    border: 2px solid salmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-in-box {
    width: 283px;
    height: 283px;
    border-radius: 34px;
}

.desc-details {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-top: 42px;
}



.sale-price {
    color: #2FA013;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    margin-top: 13px;
}

.reg-price {
    margin-left: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    color: #494D48;
}

.more {
    background-color: #FD6F5E;
    padding: 2px 18px;
    color: #FFFFFF;
    height: 40px;
    width: 160px;
    border-radius: 34px;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;

    display: flex;
    align-items: center;
    text-align: center;
    column-gap: 7px;
    cursor: pointer;
    text-align: center;
}

.img-icon {
    width: 21px;
    height: 15px;
}

/* special offer */

.specialoffer {
    background-color: #fff(210, 192, 155);
    border: 2px solid blue;
    width: 100%;
    height: 720px;
}

.specialoffer h2 {
    margin-top: 66px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.big {
    width: 1270px;
    height: 459px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 42px auto 117px auto;
    column-gap: 46px;
}

.box1 {
    width: 283px;
    height: 459px;
    border: 2px solid salmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-in-box {
    width: 283px;
    height: 283px;
    border-radius: 34px;
}

.desc-details {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-top: 42px;
}



.sale-price {
    color: #2FA013;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    margin-top: 13px;
}

.reg-price {
    margin-left: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    color: #494D48;
}

.more {
    background-color: #FD6F5E;
    padding: 2px 18px;
    color: #FFFFFF;
    height: 40px;
    width: 160px;
    border-radius: 34px;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;

    display: flex;
    align-items: center;
    text-align: center;
    column-gap: 7px;
    cursor: pointer;
    text-align: center;
}

.img-icon {
    width: 21px;
    height: 15px;
}